.content{
    padding: 30px 30px 0 30px;

    .underHeader{
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        align-items: center;
        .categories{
            display: flex;
            ul{
                list-style-type: none;
                padding: 0;
                li{
                    display: flex;
                    align-items: center;
                    height: 40px;
                    padding: 5px 20px 5px 20px;
                    background-color: rgba(216, 216, 216, 1);
                    border-radius: 25px;
                    margin-right: 20px;
                    float: left;
                    font-size: 20px;
                    font-family: 'Inter';
                }
                .active{
                    color: white;
                    background-color: rgb(54, 54, 54);
                }
            }
        }
        .searchBlock{
            display: flex;
            border: 1px solid gray;
            border-radius: 7px;
            padding: 0 7px;
            height: 32px;
            img{
                scale: 0.6;
            }
            input{
                border: 0;
                padding: 10px;
                font-size: 16px;
                background-color: rgb(255, 251, 246);
                outline: 0;
                font-family: 'Inter';
            }
        }
    }

    .fragrCards{
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20%;
        grid-template-rows: min-content;
        justify-items: center;
        min-height: 600px;
    }

    .observer{
        width: 100%;
        height: 100px;
    }
}

