.content{
    padding: 30px;
    h2{
        font-family: 'Inter';
        margin-bottom: 25px;
    }
    .placeHolder{
        padding-top: 50px;
        height: 500px;
        text-align: center;
        img{
            scale: 2;
        }
        h2{
            font-family: 'Inter';
            font-size: 30px;
            margin-top: 50px;
        }
        p{
            font-family: 'Inter';
            font-size: 18px
        }
        button{
            width: 250px;
            height: 70px;
            border-radius: 15px;
            margin-top: 50px;
            border: none;
            background-color: rgb(103, 61, 171);
            font-size: 22px;
            color: white;
        }
    }
}

