.content{
    padding: 30px;

    .underHeader{
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        align-items: center;

        .searchBlock{
            display: flex;
            border: 1px solid gray;
            border-radius: 7px;
            padding: 0 7px;
            height: 32px;
            img{
                scale: 0.6;
            }
            input{
                border: 0;
                padding: 10px;
                font-size: 16px;
                background-color: rgb(255, 251, 246);
                outline: 0;
            }
        }
    }

    .fragrCards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

