$main-purple: rgb(103, 61, 171);

body{
    background-image: linear-gradient(to right, $main-purple, rgb(212, 133, 223));
    margin: 0;
}

.wrapper{
    background-color: rgb(255, 251, 246);
    width: 85%;
    border-radius: 20px;
    //box-shadow: ;
    margin: 2em auto;
}
.placeHolder{
    padding-top: 50px;
    height: 650px;
}