$main-purple: rgb(103, 61, 171);

//INTER

body{
    background-color: $main-purple;
    margin: 0;
}

.wrapper{
    background-color: rgb(255, 251, 246);
    width: 85%;
    border-radius: 20px;
    //box-shadow: ;
    margin: 2em auto;
}